{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header --}}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
        {{#if @blog.logo}}
            <a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
        {{/if}}
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{@blog.title}}</h1>
            <h2 class="page-description">{{@blog.description}}</h2>
        </div>
        <ul class="soc">
            <li>
                <a class="soc-github" href="https://github.com/jtegtmeier"><i class="fa fa-github" aria-hidden="true"></i></a>
            </li>
            <li>
                <a class="soc-linkedin" href="https://www.linkedin.com/in/jacobtegtmeier"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
            <li>
                <a class="soc-twitter" href="https://twitter.com/changerepeat"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a class="soc-fcc" href="https://www.freecodecamp.com/jtegtmeier"><i class="fa fa-free-code-camp" aria-hidden="true"></i></a>
            </li>
            <li>
                <a class="soc-email1 soc-icon-last" href="mailto:devtegtmeier@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

{{!-- The main content area on the homepage --}}
<main id="content" class="content" role="main">

    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}

</main>
